# oauth2-proxy.params.env
OAUTH2_PROXY_PROVIDER=keycloak-oidc
OAUTH2_PROXY_REDIRECT_URL=http://streamlit.local/oauth2/callback
OAUTH2_PROXY_UPSTREAMS=http://streamlit:8501
OAUTH2_PROXY_HTTP_ADDRESS=0.0.0.0:4180
OAUTH2_PROXY_SCOPE=openid email profile
OAUTH2_PROXY_EMAIL_DOMAINS=*
OAUTH2_PROXY_OIDC_ISSUER_URL=http://keycloak.local/realms/master
OAUTH2_PROXY_COOKIE_SECURE=false
OAUTH2_PROXY_SKIP_CSRF=true
OAUTH2_PROXY_COOKIE_SAMESITE=none
OAUTH2_PROXY_COOKIE_DOMAIN=streamlit.local